// All of your custom SCSS variables go first
$primary:        #711E47;
//  #df3d6d
// $secondary:     #e9d6d6 ;
$secondary:     #d5b6c5 ;
$light:         #f1f1f1 ;
$white:         white ;
$dark:          #343a40 ;
$transparent:   transparent;
$light-gray:    #adb1b4 ;
$globalgray: #343a40;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40; // text
$gray-900: #212529;
$black:    #000 !default;



//Nabvar

$navbar-padding-y:                  1.2rem !default;
$navbar-padding-x:                  2.5rem !default;

// Cards

$card-spacer-x: 2rem;
$card-border-radius: 40px;

// Links

$link-color: $gray-900;

// Pagination

$pagination-color: $gray-800;
$pagination-focus-box-shadow: red;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            0;
$pagination-hover-bg:               $gray-200 !default;
$pagination-hover-border-color:     $gray-300 !default;

$pagination-active-color:           white;
$pagination-active-bg:              white;
$pagination-active-border-color:    white;


//then bootstrap & bootstrap-vue should be added after 
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

//all other custom scss files or css should be added here


// You can find all of the different variables to override in your “{root}\node_modules\bootstrap\scss\_variables.scss” file.